<div class="container p-5">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/servers" routerLinkActive="active" class="nav-link">Server</a></li>
    <li class="nav-item"><a [routerLink]="['/users']" routerLinkActive="active" class="nav-link">User</a></li>
  </ul>
  <div class="row">
    <div class="col-12 col-sm-10 p-3">
    <router-outlet></router-outlet>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-12 col-sm-10">-->
<!--    <app-servers></app-servers>-->
<!--  </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-sm-10">-->
<!--    <app-users></app-users>-->
<!--  </div>-->
<!--  </div>-->
</div>
