<P><strong>ID: </strong>{{id}}</P>
<p><strong>UserName : </strong>{{name}}</p>

<a [routerLink]="['/users',3,'TUn TUn']" class="text-danger"
  [queryParams]="{age:30 , address : 'Yangon'}"
  fragment="sec3">LOAD</a>
<hr>
<section id="sec1" class="vh-100 bg-danger">Section1</section>
<section id="sec2" class="vh-100 bg-success">Section2</section>
<section id="sec3" class="vh-100 bg-warning">Section3</section>
<section id="sec4" class="vh-100 bg-primary">Section4</section>
<section id="sec5" class="vh-100 bg-secondary">Section5</section>

